# IntelliJ
.idea/
*.iml
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Mac
.DS_Store

# Logs
*.log

# Allure
allure-results/
allure-report/

# Eclipse (just in case)
.project
.classpath
.settings/

# VSCode (optional)
.vscode/

# Selenium screenshots
screenshots/

# Environment files
.env